<h1>Map my route!</h1>
<form action="/form" method="POST">
	<label for="POST-route">Start:</label>
	<select id="POST-route" name="start">
		<option value="address">address</option>
	</select>
	<label for="POST-route">End:</label>
	<select id="POST-route" name="end">
		<option value="address">address</option>
	</select>
	<button type/"submit" value="submit">Submit</button>
</form>