<h1>Map my route!</h1>
<form action="/map" method="POST">
	<label for="POST-route">start:</label>
	<select id="POST-route" name="start">
		<% @data.each do |station_hash| %>
			<option value="<%= [station_hash["lat"], station_hash["lng"]] %>"><%= station_hash["name"] %></option>
		<% end %>
	</select>
	<label for="POST-route">end:</label>
	<select id="POST-route" name="end">
		<% @data.each do |station_hash| %>
			<option value="<%= [station_hash["lat"], station_hash["lng"]] %>"><%= station_hash["name"] %></option>
		<% end %>
	</select>

</br>

	<button type/"submit" value="submit">Submit</button>
</form>
